<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- iisnode handler -->
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- URL Rewrite -->
    <rewrite>
      <rules>
        <!-- Don't interfere with node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server/index.js\/debug[\/]?" />
        </rule>
        
        <!-- First we consider whether the incoming URL matches a physical file -->
        <rule name="StaticContent">
          <action type="Rewrite" url="dist/public{REQUEST_URI}" />
        </rule>
        
        <!-- All other URLs are mapped to the node.js app entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server/index.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- iisnode configuration -->
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      watchedFiles="web.config;*.js"
      nodeProcessCountPerApplication="0"
    />
    
    <!-- Security -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
          <add segment=".git" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server/index.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
